@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(253 246 241);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.userCard {
  background-color: #838b99;
  color: #ffffff;
}

.aiCard {
  background-color: #1f315c;
  color: #ffffff;
}
